html{
    font-family: 'Monserrat', sans-serif;
}
body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #364552;
    color: #ffffff;
    padding: 3rem 2rem;
}
header h1{
    text-align: center;
    font-size: 4rem;
}
.container{
    width: 400px;
    margin: 0 auto;
}
section article {
    transition: box-shadow 0.4s ease;
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;
    cursor: pointer;
}
img{
    margin-left: 3rem;
}
section article h2, section article p {
    margin:1rem;
}
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
}
footer{
    background-color: #364552;
    padding: 3rem;
    color: #ffffff;
}
footer div{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    transition: color 0.4s ease;
    padding-left: 10px;
    color:white;
    text-decoration: none;
}
a:hover{
    color: cornflowerblue;
}